services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      {% for p in portainer_ports %}
      - "{{ p }}"
      {% endfor %}

volumes:
  {{ portainer_volume }}:
    name: {{ portainer_volume }}

networks:
  default:
    name: portainer_network
