# ---------------------------
# Docker Permissions
# ---------------------------
docker_user: "{{ server_user }}"
docker_group: "{{ server_user }}"

# ---------------------------
# Portainer
# ---------------------------
portainer_enabled: true
portainer_ports:
  - "9443:9443"
portainer_volume: portainer_data
portainer_deploy_dir: /srv/docker/portainer

# ---------------------------
# Nextcloud
# ---------------------------
nextcloud_enabled: true
nextcloud_ports:
  - "8080:80"
nextcloud_data: /var/www/html/data
nextcloud_config: /var/www/html/
nextcloud_storage: /mnt/Nextcloud-Data
mysql_root_password: changeme
mysql_password: changeme
mysql_database: nextcloud
mysql_user: nextcloud

# ---------------------------
# Pihole
# ---------------------------
pihole_enabled: true
pihole_container_name: pihole
pihole_image: pihole/pihole:latest
pihole_ports:
  - "53:53/tcp"
  - "53:53/udp"
  - "8081:80/tcp"
pihole_timezone: "Europe/Berlin"
pihole_password: "changeme"
pihole_volume_data: /srv/docker/pihole/etc-pihole

# ---------------------------
# Homeassistant
# ---------------------------
homeassistant_enabled: true
homeassistant_config_dir: /mnt/homeassistant/config

# ---------------------------
# Nginx
# ---------------------------
npm_enabled: true
npm_ports:
  - "80:80"
  - "81:81"
  - "443:443"
npm_volume_data: /srv/docker/npm

# ---------------------------
# Homepage
# ---------------------------
homepage_ports:
  - "3000:3000"
homepage_enabled: true
homepage_allowed_hosts: "{{ server_ip }}:3000"
homepage_puid: 1000
homepage_pgid: 1000

# ---------------------------
# PeaNUT (NUT Web UI)
# ---------------------------
peanut_enabled: true
peanut_ports:
  - "8090:8090"
peanut_web_port: "8090"
peanut_volume_config: /srv/docker/peanut/config
peanut_deploy_dir: /srv/docker/peanut

# ---------------------------
# Watchtower
# ---------------------------
watchtower_enabled: true
watchtower_deploy_dir: /srv/docker/watchtower
watchtower_update_interval: 86400 
watchtower_cleanup: true

# ---------------------------
# Omada-Controller
# ---------------------------
omada_enabled: true
omada_volume_data: /srv/docker/omada
omada_container_name: omada-controller
omada_image: mbentley/omada-controller:5
omada_environment:
  PUID: 508
  PGID: 508
  MANAGE_HTTP_PORT: 8088
  MANAGE_HTTPS_PORT: 8043
  PORTAL_HTTP_PORT: 8088
  PORTAL_HTTPS_PORT: 8843
  PORT_APP_DISCOVERY: 27001
  PORT_DISCOVERY: 29810
  PORT_MANAGER_V1: 29811
  PORT_ADOPT_V1: 29812
  PORT_UPGRADE_V1: 29813
  PORT_MANAGER_V2: 29814
  PORT_TRANSFER_V2: 29815
  PORT_RTTY: 29816
  PORT_DEVICE_MONITOR: 29817
  SHOW_SERVER_LOGS: true
  SHOW_MONGODB_LOGS: false
  SSL_CERT_NAME: tls.crt
  SSL_KEY_NAME: tls.key
  TZ: Etc/UTC
omada_volumes:
  - { src: omada-data, dest: /opt/tplink/EAPController/data }
  - { src: omada-logs, dest: /opt/tplink/EAPController/logs }
omada_named_volumes:
  - omada-data
  - omada-logs

# ---------------------------
# checkmk
# ---------------------------
checkmk_enabled: true
checkmk_ports:
  - "8280:5000"
  - "8000:8000"
checkmk_password: "changeme"
checkmk_volume_data: /srv/docker/checkmk
checkmk_agent_ip: "{{ server_ip }}"
checkmk_agent_port: "{{ checkmk_ports[0].split(':')[0] }}"
checkmk_agent_version: "2.4.0p14-1"

snmp_server_ip: "{{ server_ip }}"
snmp_community: "public"
snmp_listen_port: 161