---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings
title: just'in case you need a Homepage

background: 
  image: https://wallpaperaccess.com/download/japan-4k-51200
  blur: sm 
  opacity: 50
  brightness: 50

theme: dark
color: slate

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey