###########################################################################
#
# snmpd.conf
# Template angepasst für Ansible
#
###########################################################################

# SECTION: System Information Setup
sysLocation    Sitting on the Dock of the Bay
sysContact     Me <me@example.org>

sysServices    72

# SECTION: Agent Operating Mode
master  agentx

# agentaddress: IP und Port aus Variablen
agentaddress  {{ snmp_server_ip }},[::1]

# SECTION: Access Control Setup
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1

# Read-only access
rocommunity  {{ snmp_community }} default -V systemonly
rocommunity6 {{ snmp_community }} default -V systemonly

# SNMPv3 users (belassen wie bisher)
rouser authPrivUser authpriv -V systemonly

# include a all *.conf files in a directory
includeDir /etc/snmp/snmpd.conf.d