---
- name: Update APT cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  ansible.builtin.apt:
    name:
       - curl
       - vim
       - git
       - htop
       - btop
       - net-tools
       - sudo
       - wget
       - ncdu
       - ca-certificates
       - ansible
       - screen
    state: present
    update_cache: yes

- name: Disable SSH root login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
    state: present
  notify: Restart SSH
