---

# ---------------------------
# Packages
# ---------------------------
- name: Update APT cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  ansible.builtin.apt:
    name:
       - curl
       - vim
       - git
       - htop
       - btop
       - net-tools
       - sudo
       - wget
       - ncdu
       - ca-certificates
       - ansible
       - screen
       - snmpd
    state: present
    update_cache: yes

# ---------------------------
# auto-cpufreq
# ---------------------------
- name: Install dependencies for auto-cpufreq
  ansible.builtin.apt:
    name: git
    state: present
    update_cache: yes

- name: Clone auto-cpufreq repo
  ansible.builtin.git:
    repo: "{{ auto_cpufreq_repo }}"
    dest: "{{ auto_cpufreq_dest }}"
    version: "{{ auto_cpufreq_version }}"
    force: yes

# ---------------------------
# Firewall
# ---------------------------
- include_tasks: firewall.yml
  when: firewall_enabled

# ---------------------------
# SSH
# ---------------------------
- include_tasks: ssh.yml
  when: ssh_enabled