- name: Ensure SSH directory exists
  file:
    path: "/home/{{ server_user }}/.ssh"
    state: directory
    owner: "{{ server_user }}"
    group: "{{ server_user }}"
    mode: '0700'

- name: Add public SSH key to authorized_keys
  authorized_key:
    user: "{{ server_user }}"
    key: "{{ vault_ssh_public_key }}"
    state: present

- name: Disable SSH root login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
    state: present
  notify: Restart SSH

- name: Disable password authentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
  notify: Restart SSH

- name: Allow only specific SSH users
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^AllowUsers'
    line: "AllowUsers {{ server_user }}"
    state: present
  notify: Restart SSH